$("#sortable-notice").html("<fieldset class='alert-b'><div data-alert class='alert-box radius success'><%= t('.reordered') %></div></fieldset>");

$(".alert-b").delay(2500).fadeOut(300);
$('#mySpinner').fadeOut(300);