/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require jquery.fileupload-ui

 *= require framework_and_overrides
 *= require_self
 */

label.right {
  padding-right: 10px;
}

.main-row {
	max-width:1500px !important;
}

.chapter-drag {
	heigth: 300px;
}

.chapter-item {
	height:100%;
}

[class*="block-grid-"] > li {
    height: 300px;
}

.th.chapter-item {
  height: 280px;
  display: block;
}

.clearing-thumbs {
	margin-bottom:10px;
}

.fixed-my {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40%;
}